
body{
	overflow: hidden;
	background-image: url("images/background.jpg")
}

.containerMeny {
    width: 450px;
    float: right;

}

#container {
	visibility: visible;
	z-index: -1;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;

}